@import 'variables','mixin','function';

html{
    font-size: $font14;
    color: $b-color;
}

.a{
    padding: 10px;
    &:hover{
        background-color: green;
    }
    @at-root .d{
        height: px2rem(200px);//调用px2rem方法
    }
}

.b{
    @include border-max;//获取mixin中的border-max
    margin: 10px;
}

.c{
    @extend .a;//继承a
    color:$r-color;
    padding: {
        #{$l-side}: 10px;
        right: 20px;
        top:15px;
        bottom: 0;
    };
    @include set-width(20px);//获取mixin中的width
    height: px2rem(100px);//调用px2rem方法
}